{% extends 'corona/base2.html' %}
{% load static %}
{% block contact %}

   <section class="jumbotron text-center">
        <div class="container">
            <h1>About Covid-19</h1>
            <br>
            <h1 class="lead text-muted">Covid-19 (CoronaVirus) is a new highly contagious chinese epidemic which has rapidly spread around the world causing millions of
                infected individuals and killing thousands of people.</h1>
            <p>
                <br>
                <a href="{% url 'contact' %}" class="btn btn-primary my-2">Join us</a>
            </p>
        </div>

    </section>
        <footer class="text-muted">
                                    <div class="container">
                                        <p class="float-right">
                                            <a href="{% url 'home' %}">Go to Covid-19 Socket Page</a>
                                    </div>
                                </footer>

{% endblock contact %}